test/javasource/
test/deployment/
test/.classpath
test/.project
test/theme/
test/userlib/
test/.classpath
test/.project
*.launch
*.tmp
*.class
*.lock
.idea/

dist/
dev/deployment
npm-debug.log

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
test/*
test2/*
test/widgets/*
bin/main/*
log4j.xml.old
